<div ng-if="notes.length === 0">
  <p>No notes</p>
</div>

<div class="notes">
  <a ng-repeat="note in notes" ng-href="/notes/{{ note.id }}" class="note-tile">
    <img ng-src="{{ note.image }}" class="note-image">
    <h2 class="note-title">{{ note.title }}</h2>

    <div class="note-metadata">
      <p ng-if="note.author" class="author">By {{ note.author.name }}</p>
      <span ng-if="note.author" class="divider"></span>
      <p class="date">{{ note.publishDate | date:'M/d/yyyy h:mm a' }}</p>
    </div>
  </a>
</div>
